/*  General Page Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1 {
    color: darkblue;
}

p {
    font-size: 16px;
}


/* Step 10 & 14 - Class Selector */

.highlight {
    background-color: rgb(107, 107, 209);
    padding: 8px;
}

/* Table Layout */

.table-layout{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid black;
}

.table-layout td{
    padding: 15px;
    vertical-align: top;
}

.table-layout td:first-child{
    border-right: 1px solid black;
}

/* Step 13 & 14 - ID Selector */

#main-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


/* Step 16 - Div Sections */

.main-content {
    position: relative;
}

.footer {
    background-color: rgb(228, 225, 212);
    padding: 15px;
    margin: 20px;
    border: 2px solid black;
    text-align: center;
}


/* Step 17 - Box Model
Applied to the schedule table */

.schedule-table {
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.schedule-table th {
    text-align: center;
}


/* Step 18 - CSS Positioning */

.position-demo {
    position: relative;
    min-height: 120px;
    margin: 20px 0;
    border: 1px solid black;
    padding: 10px;
}

.static-box {
    position: static;
    background-color: lightgray;
    padding: 10px;
}

.relative-box {
    position: relative;
    background-color: lightgreen;
    padding: 10px;
    left: 20px;
    width: 200px;
}

.absolute-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightcoral;
    padding: 10px;
}


/* 
   Step 19 - CSS Sizing
 */

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2em;
}

img {
    width: 40%;
    max-width: 300px;
}


/* 
   Step 20 - Float and Clear
 */

.float-left {
    float: left;
    width: 38%;
    padding: 15px;
    background-color: lightblue;
}

.float-right {
    float: right;
    width: 38%;
    padding: 15px;
    background-color: lightpink;
}

.clear-fix {
    clear: both;
}